* { 
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	line-height: 1.65; 
}

img { 
	max-width: 100%; 
	margin: 0 auto; 
	display: block; 
}

body, .body-wrap { 
	width: 100% !important; 
	height: 100%; 
	background: #e5e5e5; 
}

a { 
	color: #07499a; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

.text-center { 
	text-align: center; 
}

.text-right { 
	text-align: right; 
}

.text-left { 
	text-align: left; 
}

.button {
	max-width: 134.22px; 
	display: inline-block; 
	color: white; 
	background: #07499a; 
	border: solid #07499a; 
	border-width: 10px 20px 8px; 
	font-weight: bold;
	font-family: Tahoma;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.008em; 
	border-radius: 4px; 
}

.button:hover { 
	text-decoration: none; 
}

h1, h2, h3, h4, h5, h6 { 
	margin-bottom: 10px; 
	line-height: 1.25; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4 { 
	font-size: 20px; 
}

h5 { 
	font-size: 16px; 
}

p, ul, ol { 
	font-size: 16px; 
	font-weight: normal; 
	margin-bottom: 20px; 
}

.container { 
	display: block !important; 
	clear: both !important; 
	margin: 0 auto !important; 
	max-width: 580px !important; 
}

.container table { 
	width: 100% !important; 
	border-collapse: collapse; 
}

.container .masthead { 
	padding: 3px 0; 
	background: #fff; 
	color: white; 
	background: linear-gradient(90deg, #0353A4 0%, #023E7D 100%);
}

.container .masthead h1 { 
	margin: 0 auto !important; 
	max-width: 90%; 
	text-transform: uppercase; 
}

.container .content { 
	background: white; 
	padding: 30px 35px; 
	background: #FBFBFB; 
}

.container .content .content-img {
	padding: 15px 30px;
	background: #F7F8FA;
	border: 1px solid #474747;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 12px;
}

.container .content h2 {
	max-width: 257.38px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 44px;
	color: #101215;
}

.container .content .first-rule {
	margin: auto;
	max-width: 90px;
	border: 1px solid #474747;
}

.container .content .first-paragraph {
	max-width: 520px;		
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #474747;
	margin-top: 20px;
}

.container .content .third-paragraph {
	max-width: 159.7px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #474747;
}

.container .content.footer { 
	background: #FBFBFB;
	max-width: 600px; 
}

.container .second-rule {
	max-width: 600.01px;
	border: 1px solid #474747;
	margin: auto;
}

.container .content.footer p { 
	margin-bottom: 0; 
	color: #fff; 
	text-align: center; 
	font-size: 14px; 
}

.container .content.footer .first-paragraph {
	color: #101215;
}

.container .content.footer .anchor1 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	color: #07499A;
	text-decoration: none;
}

.container .content.footer .anchor2 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	color: #07499A;
	text-decoration: none;
}

.container .content.footer .second-paragraph {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	color: #101215;
}

.container .content.footer .third-paragraph {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.006em;
	color: #474747;
	max-width: 413px;
	margin-top: 20px;
}

.container .content.footer a { 
	color: #ff1100; 
	text-decoration: none; 
	font-weight: bold; 
}

.container .content.footer a:hover { 
	text-decoration: none; 
}